
#!/bin/bash
UDIR='bitvvave'
TARGET="/home/$UDIR/bitvvave" # deploy-folder
GIT_DIR="/home/$UDIR/bitvvave.git"

BRANCH="master"

while read oldrev newrev ref
do
        # only checking out the master (or whatever branch you would like to deploy)
        if [[ $ref = refs/heads/$BRANCH ]];
        then
                echo "[+] Ref $ref received. Deploying ${BRANCH} branch to production..."
                git --work-tree=$TARGET --git-dir=$GIT_DIR checkout -f
                echo "[+] Initializing folder .."
                chown -R $UDIR:$UDIR $TARGET
                chmod 755 $TARGET
                echo "[+] Restarting bitvvave service"
                cd $TARGET
                # this process will probably need to be tuned for security fixes etc
                npm ci
                # reconfigure this part based on what you name your instance of bitvvave running
                pm2 restart bitvvave
                #cd /var/www/ghost ; ghost restart
                # should hook and reload the pm2 config stuff for the server service
        else
                echo "[-] Ref $ref received. Doing nothing: only the ${BRANCH} branch may be deployed on this server."
        fi
done
